#news{
    position: absolute;
    height: calc(100% - 80vh);
    width: 100%;
    z-index: 0;
    bottom: 0;
    background-color: rgb(6, 10, 14);
}

#aboutus{
    position: absolute;
    height: 100vh;
    top:200vh;
    width: 70vw;
    z-index: 0;
    bottom: 0;
    background-color: rgb(25, 27, 41);
}

@media(max-width: 1000px){
    #aboutus{
        width: 100vw;
        top: 400vh;
    }
    
}